* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

@keyframes float {
  0% { transform: translate(-50%, -50%) translateY(0); }
  50% { transform: translate(-50%, -50%) translateY(-4px); }
  100% { transform: translate(-50%, -50%) translateY(0); }
}

